@if $--project-element {

	$--element: getMap($default, ("all", "display"));
	$--element-statu: getMap($--element, ("statu"));
	$--element-name: #{getMap($--element, ("name", "title"))}#{getMap($--element, ("name", "symbol"))};
	
	@if $--element-statu{
	   /***************************************************
 		********************* DISPLAY *********************
 		***************************************************/
 	}
}