@if $--project-element {

	$--element: getMap($default, ("all", "navbar"));
	$--element-statu: getMap($--element, ("statu"));
	$--element-name: #{getMap($--element, ("name", "title"))}#{getMap($--element, ("name", "symbol"))};
	
	@if $--element-statu{
	   /***************************************************
 		********************* NAVBAR **********************
 		***************************************************/
 		
 		$--element-children-1: getMap($--element, ("all", "advanced"));
 		$--element-children-1-color: getMap($--element-children-1, ("color", "primary"));
 		$--element-children-1-color-item: getMap($--element-children-1, ("color", "item", "primary"));
 		$--element-children-1-statu: getMap($--element-children-1, ("statu"));
 		$--element-children-1-name-type: #{getMap($--element-children-1, ("name", "type"))};
		$--element-children-1-name-title: #{getMap($--element-children-1, ("name", "title"))};
		$--element-children-1-name-symbol: #{getMap($--element-children-1, ("name", "symbol"))};
		$--element-children-1-all: #{$--project-name}#{$--element-name}#{$--element-children-1-name-title};
		@if $--element-children-1-statu{
		   /***************************************************
 			** ADVANCED
 			***************************************************/
 			#{$--element-children-1-name-type}#{$--element-children-1-all}{
 				background: nth($--element-children-1-color, 1);
 				color: nth($--element-children-1-color, 2);
				padding: 0.3125em 0;
				margin-bottom: 1.25em;
				$--element-children-1-1-all: #{$--element-children-1-all}#{$--element-children-1-name-symbol}container-buttons;
				.#{$--element-children-1-1-all}{
					display: none;
					justify-content: space-between;
					button{
						font-size: 1em;
						color: nth($--element-children-1-color, 2);
						padding: 10px 20px;
						border: 1px solid transparent;
						display: inline-block;
						cursor: pointer;
						background: none;
						&:hover{
							border: 1px solid rgba(nth($--element-children-1-color, 2), .4);				
						}
						$--element-children-1-1-1-all: #{$--element-children-1-1-all}-close;
						.#{$--element-children-1-1-1-all}{
							display: none;
						}
						$--element-children-1-1-2-all: #{$--element-children-1-1-all}-menu;
						.#{$--element-children-1-1-2-all}{
							display: inline-block;
						}
					}
				}
				a{
					text-decoration: none;
					outline: none;
				}
				$--element-children-1-2-all: #{$--element-children-1-all}#{$--element-children-1-name-symbol}container-links;
				.#{$--element-children-1-2-all}{
					display: flex;
					justify-content: space-between;
					align-items: center;
					$--element-children-1-2-1-all: #{$--element-children-1-2-all}-advanced;
					////////////////////////////////////////
					// DEPARTAMENT
					////////////////////////////////////////
					.#{$--element-children-1-2-1-all}{
						color: nth($--element-children-1-color, 2);
						padding: 7px;
						border-radius: 3px;
						display: flex;
						align-items: flex-end;
						border: 1px solid transparent;
						font-size: 0.75em;
						cursor: default;
						i {
							margin-left: 20px;
							position: relative;
							bottom: 3px;
						}
						span {
							display: block;
							font-size: 0.875em;
							font-weight: bold;
						}
						&:hover{
							border: 1px solid rgba(nth($--element-children-1-color, 2), .4);
						}
					}
					$--element-children-1-2-2-all: #{$--element-children-1-2-all}-items;
					.#{$--element-children-1-2-2-all} a{ 
						color: nth($--element-children-1-color-item, 1);
						border: 1px solid transparent;
						padding: 7px;
						border-radius: 3px; 
						text-decoration: none;
						font-size: 0.875em;
						&:hover{
							border: 1px solid rgba(nth($--element-children-1-color-item, 2),.4);
						}
					}
				}
				$--element-children-1-3-all: #{$--element-children-1-all}#{$--element-children-1-name-symbol}container-grid;
				.#{$--element-children-1-3-all}{
					position: relative;
					.#{$--element-children-1-3-all}-structure{
						width: 100%;
						display: none;
						position: absolute;
						top: 5px;
						z-index: 1000;
						grid-template-columns: repeat(4, 1fr);
						grid-template-rows: 1fr;
						grid-template-areas: getMap($--element-children-1, ("grid", "template"));
						&.#{$--project-name}active{
							display: grid;
						}
						&::before{
							content: "";
							display: block;
							background: transparent;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 5px solid nth($--element-children-1-color-item, 2);
							position: absolute;
							top: -5px;
							left: 65px;
						}
						& > div{
							background: nth($--element-children-1-color-item, 2);
							box-shadow: getMap($--element-children-1, ("box", "shadow"));
						}
						.#{$--element-children-1-3-all}-structure-button-return{
							background: nth($--element-children-1-color-item, 1);
							color: nth($--element-children-1-color-item, 2);
							border: none;
							padding: 10px;
							border-radius: 3px;
							margin: 1.25em;
							font-size: 1em;
							cursor: pointer;
							display: none; 
							i {
								margin-right: 10px;
							}
						}
						////////////////////////////////////////
						// CATEGORIES
						////////////////////////////////////////
						.#{$--element-children-1-3-all}-structure-categories{
							grid-area: categorias;
							padding-top: 10px;
							min-height: nth(getMap($--element-children-1, ("dimension", "advanced", "min")),1);
							overflow: auto;
							.#{$--project-name}subtitle{
								display: none;
							}
							a {
								color: nth(getMap($--element-children-1, ("color", "advanced", "primary")),2);
								font-size: 0.875em;
								display: flex;
								justify-content: space-between;
								padding: 10px 20px;
								i {
									display: none;
								}
								&:hover{
									color: nth(getMap($--element-children-1, ("color", "advanced", "link", "hover")), 1);
									font-weight: bold;
									i {
										display: inline-block;
									}
								}
							}
						}
						////////////////////////////////////////
						// SUBCATEGORIES
						////////////////////////////////////////
						.#{$--element-children-1-3-all}-structure-container-subcategories{
							grid-area: subcategorias;
							.#{$--element-children-1-3-all}-structure-container-subcategories-subcategories{
								display: none;
								grid-template-columns: 1fr 1fr 1fr;
								grid-template-rows: 1fr;
								height: 100%;
								&.#{$--project-name}active{
									display: grid;
								}
								img {
									width: 100%;
									vertical-align: top;
									height: 100%;
									object-fit: cover;
								}
								.#{$--element-children-1-3-all}-structure-container-subcategories-subcategories-links{
									padding-top: 10px;
									height: 100%;
									max-height: nth(getMap($--element-children-1, ("dimension", "advanced", "min")),1);
									overflow: auto;
									a {
										color: nth(getMap($--element-children-1, ("color", "advanced", "primary")),2);
										display: block;
										font-size: .875em;
										padding: 10px 20px;
										&:hover{
											color: nth(getMap($--element-children-1, ("color", "advanced", "link", "hover")), 1);
										}
									}
									.#{$--project-name}subtitle{
										font-size: 1.125em;
										font-weight: normal;
										color: nth(getMap($--element-children-1, ("color", "advanced", "link", "hover")), 1);
										padding: 10px 20px;
									}
								}
								.#{$--element-children-1-3-all}-structure-container-subcategories-banner{
									a{
										display: block;
										height: 100%;
									}
								}
								.#{$--element-children-1-3-all}-structure-container-subcategories-gallery{
									display: flex;
									flex-wrap: wrap;
									align-content: start;
									overflow-y: scroll;
									overflow-x: none;
									a{
										width: 50%; 
										height: 50%;
									}
								}
							}
						}
					}
				}
				////////////////////////////////////////
				// MEDIA QUERY
				////////////////////////////////////////
				@media screen and (max-width: 1000px) {
					.#{$--project-name}#{getMap($default, ("all", "container", "name", "title"))}{
						width: 100%;
					}
					.#{$--element-children-1-2-all}{
						padding: 0 10px;
					}
				}
				@media screen and (max-width: 800px) {
					.#{$--project-name}#{getMap($default, ("all", "container", "name", "title"))}{
						width: 90%;
					}
					.#{$--element-children-1-1-all}{
						display: flex;
					}
					.#{$--element-children-1-2-all}{
						padding: 20px;
						flex-direction: column;
						align-items: flex-start;
						justify-content: flex-start;
						position: fixed;
						left: 0;
						background: nth($--element-children-1-color, 1);
						height: 100vh;
						width: 80%;
						z-index: 2000;
						transition: .3s ease all;
						transform: translate(-100%);
						.#{$--project-name}active {
							transform: translate(0%);
						}
						.#{$--element-children-1-2-all}-advanced{
							width: 100%;
							align-items: center;
							justify-content: space-between;
							cursor: pointer;
							i {
								position: static;
								margin-left: 20px;
								transform: rotate(-90deg);
							}
						}
						.#{$--element-children-1-2-all}-items{
							width: 100%;
							a{
								display: block;
								margin: 10px 0;
								padding: 10px;
							}
						}
					}
					#{$--element-children-1-3-all}{
						.#{$--element-children-1-3-all}-structure{
							display: grid;
							transition: .3s ease all;
							transform: translateX(-100%);
							z-index: 3000;
							width: 80%;
							position: fixed;
							top: 0;
							left: 0;
							height: 100vh;
							grid-template-areas: getMap($--element-children-1, ("grid", "media"));
							&.#{$--project-name}active {
								transform: translateX(0%);
							}
							&::before {
								display: none;
							}
							.#{$--element-children-1-3-all}-structure-button-return{
								display: inline-block;
							}
							.#{$--element-children-1-3-all}-structure-categories{
								.#{$--project-name}subtitle{
									display: block;
								}
							}
							.#{$--element-children-1-3-all}-structure-container-subcategories{
								position: absolute;
								top: 0;
								width: 100%;
								height: 100%;
								transition: .3s ease all;
								transform: translateX(-100%);
								overflow: auto;
								&.#{$--project-name}active{
									transform: translateX(0%);
								}
								.#{$--element-children-1-3-all}-structure-container-subcategories-subcategories{
									grid-template-columns: 1fr;
									.#{$--element-children-1-3-all}-structure-container-subcategories-subcategories-links{
										min-height: 50vh;
										overflow: auto;
									}
								}
								.#{$--element-children-1-3-all}-structure-container-subcategories-banner{
									width: 100%;
									min-height: nth(getMap($--element-children-1, ("dimension", "banner", "min")),2);
									max-height: nth(getMap($--element-children-1, ("dimension", "banner", "max")),2);
								}
								.#{$--element-children-1-3-all}-structure-container-subcategories-gallery{
									a {
										width: 25%;
										height: 100%;
									}
								}
							}
							
						}
					}
				}
 			}
		}
 	}
}