/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////// COMPONENTS /////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$--project-element: getMap($project, ("statu"));
$--project-name: #{getMap($project, ("name", "title"))}#{getMap($project, ("name", "symbol"))};

$--project-font-family: getMap($project, ("font", "family", "primary", "font"));
$--project-font-family-url: getMap($project, ("font", "family", "primary", "url")); 

$--project-font-family-2: getMap($project, ("font", "family", "secondary", "font"));
$--project-font-family-2-url: getMap($project, ("font", "family", "secondary", "url")); 

///////////////////////////////////////////////////
// IMPORT
///////////////////////////////////////////////////
@import "components/body";
@import "components/container";

@import "components/display"; 

@import "components/navbar"; 